body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #2c296e, #131633);
  color: #fff;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

#title {
  font-size: 24px;
  margin-bottom: 20px;
}

#upload-form {
  margin-bottom: 20px;
}

#upload-input {
  display: none;
}

#upload-label {
  padding: 10px 20px;
  background-color: #6a5acd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.image {
  margin: 0 10px;
  max-width: 600px;
  height: auto;
}

#download-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #6a5acd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#download-button:hover {
  background-color: #483d8b;
}


#button-container {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #6a5acd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #483d8b;
}